<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://github.com/saravanans1204/Journal-maker" class="" target="_blank"><span class="label"><i class="fa-brands fa-github fa-2x"></i></span></a></li>
            <li><a href="https://www.linkedin.com/in/saravanan-s-394253250" class="" target="_blank"><span class="label"><i class="fa-brands fa-linkedin fa-2x"></i></span></a></li>
        </ul>
        
    </div>
    <div class="copyright">
        <p>&copy Copyright 2015 Company Name. All rights reserved.</p>
    </div>
</footer>
</footer>
