<%- include('partials/header.ejs') -%>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="main-body">
            <h1>404</h1>
            <p>oops page not found</p>
            <h3>return to home page</h3>
     


        </div>
      
         
        
        <%- include('partials/footer') -%>



        <!-- Scripts -->
        <script>
            document.querySelector('#ham')
            .addEventListener('click',(e)=>{
                document.querySelector('.nav-menu').classList.toggle('hover-menu')
              }); 
          </script>
        <script src="" async defer></script>
    </body>
</html>