<%- include('../partials/header.ejs') %>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <div class="main-body login" >
            <div class="login-content content" style="opacity: 60%;">
                <form action="/login" method="post" id="compose-form">
                <h1>Login</h1>
                <label for="username" ><h3>Username</h3></label>
                    <input name="username" 
                    id="username" required/>
                    <label for="password" ><h3>Password</h3></label>
                    <input type="password" name="password" id="password"
                    required></input>
                    <button type="submit" >
                        Login</button>
                </form>
            </div>
            <p style="font-family:sans-serif;font-size: 1.5vh;color: red;">
                no user found. <a href="/signup">signUp</a></p>
        </div>
        
        <%- include('../partials/footer') %>



        <!-- Scripts -->
        <script>
            document.querySelector('#ham')
            .addEventListener('click',(e)=>{
                document.querySelector('.nav-menu').classList.toggle('hover-menu')
              }); 
          </script>
        <script src="" async defer></script>
    </body>
</html>